<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">UIMARANNAT</a>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Koti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lampotilat">Lämpötilat</a>
      </li>
    </ul>
  </div>
</nav>


<!-- TÄSSÄ TOGGLE HAMPURILAISNAVIGAATION POHJA -->

<!-- <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <div class="container">
    <div class="col-7">
      <a href="" class="header"><h1 id="header">UIMARANNAT</h1></a>
    </div>

    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-5 collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav navbar-custom">
        <a href="/" class="navLink">Koti</a>
        <a href="lampotilat" class="navLink">Lämpötilat</a>

      </ul>
    </div>
  </div>
</nav> -->