<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head')%>
</head>
<body>
  <%- include('../partials/navigation')%>
  
  <div id="page-container" class="container">
    <div class="col-xs-10">
      <div class="row " id="infotext">
        <h2 id="kotisivunOtsikko">Sivuston tarkoitus</h2>
        <p>Tämä sivusto on laadittu osana tietojenkäsittelyn tradenomin opintojen FullStack kurssia.
        Tehtävässä oli tarkoitus harjoitella API kutsuja sekä 
        EJS sivupohjien käyttöä. 
        <br><br>
        API, jonka tehtävää varten valitsin palauttaa dataa pääkaupunkiseudun uimarannoilta.
        Harjoituksen laatimishetkellä 10 pääkaupunkiseudun uimarannalla (sekä meren että järvien)
        löytyy lämpotilan mittausantureita niin vedestä kuin ilmasta.
        Anturit lähettää mittaustiedot noin puolen tunnin välein ja tämä on esitetty sivuston
        Lämpotilat välilehdellä. 
        <br><br>
        Helsingin kaupungin innovaatioyhtiö Forum Virium omistaa sensorit sekä API:n. Lisätietoja 
        https://hri.fi/data/fi/dataset/veden-reaaliaikainen-lampotila-helsingin-uimarannoilla
        </p>
      </div>
    </div>
  </div>

  <%- include('../partials/footer')%>
</body>
</html>